<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="layout/layout :: head">
    <meta charset="UTF-8">
</head>
<body>
  <header th:replace="layout/layout :: header"></header>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-10 col-sm-12 container justify-content-center card my-3">
        <h2 class="text-center my-2" th:text="${titulo}"></h2>
        <hr>
        <div class="card-body">
          <form th:action="@{/form}" th:object="${empleado}" method="POST">
            <input type="hidden" th:field="*{id}" th:value="${empleado.id}" />

            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" th:field="*{nombre}" class="form-control" id="nombre" th:errorclass="'alert-danger'" />
              <small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
            </div>

            <div class="form-group">
              <label for="apellido">Apellido:</label>
              <input type="text" th:field="*{apellido}" class="form-control" id="apellido" th:errorclass="'alert-danger'" />
              <small class="form-text text-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
            </div>

            <div class="form-group">
              <label for="email">Email:</label>
              <input type="text" th:field="*{email}" class="form-control" id="email" th:errorclass="'alert-danger'" />
              <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
            </div>

            <div class="form-group">
              <label for="fecha">Fecha:</label>
              <input type="date" th:field="*{fecha}" class="form-control" id="fecha" th:errorclass="'alert-danger'" />
              <small class="form-text text-danger" th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></small>
            </div>

            <div class="form-group">
              <label for="telefono">Teléfono:</label>
              <input type="text" th:field="*{telefono}" class="form-control" id="telefono" th:errorclass="'alert-danger'" />
              <small class="form-text text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
            </div>

            <div class="form-group">
              <label for="salario">Salario:</label>
              <input type="number" th:field="*{salario}" class="form-control" id="salario" th:errorclass="'alert-danger'" />
              <small class="form-text text-danger" th:if="${#fields.hasErrors('salario')}" th:errors="*{salario}"></small>
            </div>

            <div class="form-group">
              <label for="genero">Género</label>
              <select class="form-control" th:field="*{genero}" id="genero">
                <option th:value="M">Masculino</option>
                <option th:value="F">Femenino</option>
              </select>
            </div>

            <div class="box-footer">
              <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <footer th:replace="layout/layout :: footer"></footer>

</body>
</html>